[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/vsrikrish/bibliography.git
	branch = main
[submodule "_bib"]
	path = _bib
	url = https://github.com/AndersonEnergyLab-Cornell/bibliography
