---
layout: default
---

	<div class="grouplogo">
	</div>
	<br>

<div class="container">
	<div class="col-2">
	</div>
	<div class="main">

	<h1>Renewable Energy Integration for System Decarbonization</h1>

	<p>The Anderson Lab investigates operational methods for more effective integration and use of renewable energy technologies. Major shifts in world paradigm (agricultural, industrial, and internet revolutions) have occurred over decades, but the current shift in energy is happening far more rapidly. This effort is further complicated by a growing awareness of the need to understand and manage interactions among energy, food and water systems, leveraging modern communications and computational resources. The complexity and evolution of these systems and the earth’s climate lead to challenging technical, operational and economic problems.</p>

	<p>Our approach is interdisciplinary, combining engineering, economics and mathematics to better understand the interactive forces of systems and markets.</p>

	</div>


	<div class="submain">
		<h2>Research Areas</h2>

		<p>Find out more about our current research areas. We do mission-oriented basic research addressing a broad range of stakeholder-driven climate risk management problems.</p>

		<a href="/research/areas/">Learn More &rarr;</a>
	</div>
	<div class="submain">
		<h2>Join The Team!</h2>

		<p>We are an inclusive group working on interdisciplinary, societally impactful problems, at the interface of statistics, decision-making, and systems engineering.</p>

		<a href="/join/">Learn More &rarr;</a>
	</div>

	<div class="news">
		<h2>News &amp; Updates</h3>
			<ul>
			{% for post in site.tags.news limit:4 %}
      {% if post.category != "album" %}
      <li><a href="{{ post.url }}">
				<small
            style:"text-align: right">{{ post.date | date_to_string }}</small>
        <h4>{{ post.title }}</h4>
        <p>{{ post.subtitle }}</p>
      </a></li>
      {% endif %}
      {% endfor %}
		</ul>
			<div class="archivelink">
			<a href="/archive/">View Full Archive &rarr;</a>
		</div>
	</div>
</div>
