/**
 * Images and logos
 */

 .grouplogo {
   position: relative;
   text-align: center;
   background: url(/assets/img/logos/SunriseBanner.png) top left no-repeat;
   height: 400px;
   width: 150px;
   background-size: contain
 }

