/**
 * Images and logos
 */

 .grouplogo {
   position: relative;
   text-align: center;
   background: url(/assets/img/logos/SunriseBanner.png) top left no-repeat;
   height: 1491px;
   width: 6614px;
   object-fit: contain;
 }

