/**
 * Images and logos
 */

 .grouplogo {
   position: relative;
   text-align: center;
   background: url(/assets/img/logos/SunriseBanner.jpg) top left no-repeat;
   width: 100%;
   height: 300px;
   object-fit: contain;
 }
